{% extends 'login_theme.html' %}

{%block title%}مستخدم جديد{%endblock%}

{%block content%}
    <div class="register">
        <h1>السفيرة عزيزة</h1>
        <h4>ترحب بكم</h4>

        <div class="links">
            <a href="{{ url_for('auth.login') }}">تسجيل الدخول</a>
            <a href="{{ url_for('auth.register') }} " class="active">مستخدم جديد</a>
        </div>

        <form method="post" autocomplete="off">
            {{ form.csrf_token }}
           
            <div style="display: flex;">
                <label for="fullname">
                <i class="fas fa-user"></i>
            </label>
            {{ form.fullname(placeholder="الإسم بالكامل", id="fullname", required=true) }}
            </div>
            {% if form.fullname.errors %}
                {% for error in form.fullname.errors %}
                    <span class="error-message">{{ error }}</span>
                {% endfor %}
            {% endif %}

            <div style="display: flex;">
                <label for="phoneno">
                <i class="fas fa-phone"></i>
            </label>
            {{ form.phoneno(placeholder="رقم الجوال (يحتوي على كود الدولة)", id="phoneno", required=true) }}
            </div>
            {% if form.phoneno.errors %}
                {% for error in form.phoneno.errors %}
                    <span class="error-message">{{ error }}</span>
                {% endfor %}
            {% endif %}

            <div style="display: flex;">
                <label for="password">
                <i class="fas fa-lock"></i>
            </label>
            {{ form.password(placeholder="كلمة المرور", id="password", required=true) }}
            </div>
            {% if form.password.errors %}
                {% for error in form.password.errors %}
                    <span class="error-message">{{ error }}</span>
                {% endfor %}
            {% endif %}

            <div style="display: flex;">
                <label for="confirm_password">
                <i class="fas fa-lock"></i>
            </label>
            {{ form.confirm_password(placeholder="تأكيد كلمة المرور", id="confirm_password", required=true) }}
            </div>
            {% if form.confirm_password.errors %}
                {% for error in form.confirm_password.errors %}
                    <span class="error-message">{{ error }}</span>
                {% endfor %}
            {% endif %}

            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    {% for category, message in messages %}
                        <div class="alert alert-{{ category }} hideMe">{{ message }}</div>
                    {% endfor %}
                {% endif %}
            {% endwith %}

            {{ form.submit(value="تسجيل") }}
        </form>
    </div>
{%endblock%}